@import url('../../fonts/pixelsagas.com/PS_Roddenberry/font.css');

:root {
  --svg-size: 256px;
}

html {
    display: flex;
    height: calc(100dvh - 1em);
}

span.inline-block {
  display: inline-block;
}

body.embedded {
    min-height: 43.5em; /* height after which it will vertically center */
}

body, select, footer {
  background-color: #ddd;
  color: #111;
}

group {
  position: relative;
  display: block;
  break-before: auto;
  column-break-before: auto;
  -webkit-column-break-before: auto;

  &.break-before {
    display: block;
    break-before: always;
    column-break-before: always;
    -webkit-column-break-before: always;
  }
}

@keyframes character-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

body {
  font-family: Roddenberry, sans-serif;
  width: 100%;
  padding-top: 0.5em;
  max-width: min(90em, 100dvw);
  min-height: min(52em, 100%); /* 52 em is the height after which it will vertically center */
  margin: auto;

  & > * {
    text-align: center;
  }

  aside {
    columns: 2;
    text-align: unset;
    max-width: inherit;
    padding-left: 0.5em;
    gap: 0.5em;
    min-height: calc(var(--svg-size) + 2em);

    h2, h3 {
      break-after: avoid;
      margin-block-end: 0.75em;
      padding-block-start: 0.25em;

      &.notext {
        margin-block-end: 0;
      }
    }

    h2 {
      margin-block-start: 0.0;
      border-top: 0.75em solid rgb(102 13 31);
    }

    h3 {
      margin-block-start: 0.5em;
      border-bottom: 0.25em solid rgb(13 81 102);
      width: fit-content;
    }
  }

  &.cetaceous > aside,
  &.exocomp > aside,
  &.medusan > aside,
  &.cal-mirran > aside {
    columns: auto;

    h3 {
        break-before: avoid-column;
    }
  }

  & .hidden,
  &.humanoid .non-humanoid,
  &.cetaceous .non-cetaceous,
  &.exocomp .non-exocomp,
  &.medusan .non-medusan,
  &.cal-mirran .non-cal-mirran,
  &.qofuari .non-qofuari,
  &.sukhabelan .non-sukhabelan,
  &.humanoid .medusan-only,
  &.humanoid .cetaceous-only,
  &.humanoid .exocomp-only,
  &.humanoid .qofuari-only,
  &.humanoid .sukhabelan-only,
  &.humanoid .cal-mirran-only,
  &.exocomp .medusan-only,
  &.exocomp .cetaceous-only,
  &.exocomp .humanoid-only,
  &.exocomp .qofuari-only,
  &.exocomp .sukhabelan-only,
  &.exocomp .cal-mirran-only,
  &.cetaceous .medusan-only,
  &.cetaceous .humanoid-only,
  &.cetaceous .exocomp-only,
  &.cetaceous .qofuari-only,
  &.cetaceous .sukhabelan-only,
  &.cetaceous .cal-mirran-only,
  &.medusan .humanoid-only,
  &.medusan .exocomp-only,
  &.medusan .cetaceous-only,
  &.medusan .cal-mirran-only,
  &.medusan .qofuari-only,
  &.medusan .sukhabelan-only,
  &.sukhabelan .humanoid-only,
  &.sukhabelan .exocomp-only,
  &.sukhabelan .cetaceous-only,
  &.sukhabelan .medusan-only,
  &.sukhabelan .cal-mirran-only,
  &.sukhabelan .qofuari-only,
  &.cal-mirran .humanoid-only,
  &.cal-mirran .exocomp-only,
  &.cal-mirran .cetaceous-only,
  &.cal-mirran .medusan-only,
  &.cal-mirran .qofuari-only,
  &.cal-mirran .sukhabelan-only,
  &.qofuari .humanoid-only,
  &.qofuari .exocomp-only,
  &.qofuari .cetaceous-only,
  &.qofuari .medusan-only,
  &.qofuari .cal-mirran-only,
  &.qofuari .sukhabelan-only,
  &:not(.accent-color-choice) .accent-color-choice-only,
  &:not(.orville-badge-choice) .orville-badge-choice-only,
  &:not(.extra-overlay) .extra-overlay-only,
  &:not(.andorian-antennae) .andorian-antennae-only,
  &:not(.bird-tuft) .bird-tuft-only,
  &:not(.whiskers) .whiskers-only,
  &:not(.cat-nose) .cat-nose-only,
  &:not(.cat-ears) .cat-ears-only,
  &:not(.has-ear-jewelry) .has-ear-jewelry-only,
  &.specify-human [class*="specific-"],
  &.specify-andor [class*="specific-"]:not(.specific-andor),
  &.specify-bajoran [class*="specific-"]:not(.specific-bajoran),
  &.specify-benzite [class*="specific-"]:not(.specific-benzite),
  &.specify-bird [class*="specific-"]:not(.specific-bird),
  &.specify-bolian [class*="specific-"]:not(.specific-bolian),
  &.specify-breen [class*="specific-"]:not(.specific-breen),
  &.specify-cardassian [class*="specific-"]:not(.specific-cardassian),
  &.specify-cat [class*="specific-"]:not(.specific-cat),
  &.specify-denobulan [class*="specific-"]:not(.specific-denobulan),
  &.specify-ferengi [class*="specific-"]:not(.specific-ferengi),
  &.specify-kelpien [class*="specific-"]:not(.specific-kelpien),
  &.specify-klingon [class*="specific-"]:not(.specific-klingon),
  &.specify-orion [class*="specific-"]:not(.specific-orion),
  &.specify-tellarite [class*="specific-"]:not(.specific-tellarite),
  &.specify-tilikaal [class*="specific-"]:not(.specific-tilikaal),
  &.specify-trill [class*="specific-"]:not(.specific-trill),
  &.specify-vinshari [class*="specific-"]:not(.specific-vinshari),
  &.specify-vulcan [class*="specific-"]:not(.specific-vulcan),
  &.specify-zakdorn [class*="specific-"]:not(.specific-zakdorn),
  &[class*="specify-"] .forced-species,
  &.specify-breen .non-specify-breen,
  &.specify-bolian .non-specify-bolian,
  &.specify-ferengi .non-specify-ferengi,
  &.specify-kelpien .non-specify-kelpien,
  &.specify-klingon .non-specify-klingon,
  &:not(.specify-klingon) .specify-klingon-only,
  &:not(.specify-tellarite) .specify-tellarite-only,
  &:not(.specify-vulcan) .specify-vulcan-only,
  &.no-uniform-color #uniform-color-section {
    display: none;
    visibility: hidden;
    height: 0;

    &select {
      display: none;
    }
  }

  main {
    background-color: #363638;
    margin-bottom: 1em;
    padding: 1em 0;
    display: flex;
    position: relative;
    height: auto;
  }

  character bg svg {
    width: var(--svg-size);
    height: var(--svg-size);
  }

  &.rotated-270 character svg {
    rotate: 270deg;
  }

  &.medusan #character-body {
      z-index: 6; /* draw in front of the suit by taking the "facial hair" spot */
  }

  character {
    background-color: transparent;
    padding: 1em 0 0;
    width: var(--svg-size);
    height: var(--svg-size);
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 0;

    & > .mirrored {
        transform-origin: center;
        transform: scaleX(-1) translateX(var(--mirror-offset, 6px));
    }

    & > * {
        grid-template-columns: var(--svg-size) 1fr;
        grid-template-rows: var(--svg-size) 1fr;
        position: relative;

        & > * {
            position: absolute;
            inset: 0;
        }
    }

    #character-rear-hair {
        z-index: 1;
    }

    #extra-underlay > * {
        z-index: 2;
    }

    #character-ears-or-nose {
        z-index: 2;
    }

    #character-body {
        z-index: 3;
    }

    #character-uniform {
        z-index: 5;
    }

    #character-facial-hair {
        z-index: 6;
    }

    #character-head-features > * {
        z-index: 7;

        &.underuniform {
            z-index: 4;
        }

        &.overhair {
            z-index: 9;
        }
    }

    #character-hair {
        z-index: 8;
    }

    #body-overlay {
        z-index: 10;
    }

    #extra-overlay {
        z-index: 11;
    }
  }

  &:not(.saving) character.updating {
    animation: character-fade-in 0.15s ease-out;
  }

  character,
  #character-head-features {
    margin: auto;
    display: grid;

    & > * {
      grid-area: 1 / 1 / 2 / 2;

      & svg {
        width: var(--svg-size);
        height: var(--svg-size);
        margin: auto;
      }
    }
  }

  #character-name-container {
    position: absolute;
    left: 0.25em;
    top: -0.25em;
    margin: 0.5em auto;
    text-align: center;

    #character-name {
      font-family: Roddenberry, sans-serif;
      font-size: 1.5em;
      border: none;
      background-color: transparent;
      color: #111;
      text-shadow: 1px 1px 6px #fff;
      text-align: inline-start;
      padding-inline-start: 1.25em;
      width: min(20em, 90%);

      &::placeholder {
        color: #888;
        font-style: italic;
      }

      &:focus {
        border-bottom: 2px solid rgb(102 13 31);
      }
    }
  }

  footer {
    padding: 0.25em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    button {
      padding: 0.75em 1em;
      line-height: 1em;
      font-weight: bold;

      &:nth-child(1),
      &:nth-child(4) {
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        padding-right: 0.25em;
        margin-right: -0.5em;
      }

      &:nth-child(2),
      &:nth-child(5) {
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        padding-left: 0.25em;
        margin-left: 0;
      }
    }

    span + button {
        margin-left: 2em;
    }
  }
}

input, select, button {
  border-radius: 4px;
  max-width: 100%;
}

body > header {
  height: 0;
  overflow: hidden;
}

select {
    width: calc(100% - 1em);
    margin-block: 0.25em 0.75em;
}

select:not([multiple]) {
  display: block;
  padding: 0.5em 2em 0.5em 0.25em;
  vertical-align: middle;
  min-width: 45%;
}

.index-list {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 0.25em;
}


input,
select:not([multiple]),
select[multiple] option {
  background-color: #ccc;
  color: #222;

  &:hover {
    background-color: cornflowerblue;
  }
}

/* Color Swatches */
.color-display-button {
  width: 2.5em;
  height: 2.5em;
  border: 2px solid #666;
  border-radius: 4px;
  cursor: pointer;
  padding: 0;
  vertical-align: middle;
  margin-right: 0.5em;
  box-sizing: border-box;

  &:hover {
    border-color: #fff;
  }

  &:focus {
    outline: 2px solid #fff;
    outline-offset: 2px;
  }
}

.color-picker-details {
    margin: 0.25em 0 0.5em;
    padding: 0.25em;
    border-radius: 0.5em;
    background: transparent;

    & > :not(summary) {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }

    &[open] {
        background: linear-gradient(180deg, oklab(0.25 0 0 / 50%) 1.5em, oklab(0 0 0 / 0%) 1em, oklab(1 0 0 / 0%) 2em, oklab(1 0 0 / 11%) 0);

        & > :not(summary) {
            max-height: 100vh;
        }

    }

    &[open] summary::after {
        content: " ▼";
    }


    & ~ #filter-uniform-colors-option {
        position: absolute;
        right: 0.5em;
        top: 0.25em;
        display: none;
        opacity: 0;
        transition: opacity 0.6s ease-in-out;
    }

    &[open] ~ #filter-uniform-colors-option {
        display: unset;
        opacity: 1;
    }



    & summary {
        cursor: pointer;
        user-select: none;
        padding: 1px 0 0 1px;
        align-items: center;
        list-style: none;
        gap: 0.5em;
        padding-bottom: 0.5em;

        &::marker,
        ::-webkit-details-marker {
            display: none
        }

        &::after {
            color: #333;
            content: ' ►';
            vertical-align: 2px;
            line-height: 0;
        }

        & .color-display {
            display: inline-block;
            flex-shrink: 0;

            /* Give it body */
            aspect-ratio: 1;
            height: 1em;
            border-radius: .25em;
            box-shadow: 0 0 2px 0 #bebebe, inset 0 0 2px #000
        }

        & span {
            flex-shrink: 0;
        }
    }
}

uniform-color-group {
    display: flex;
    flex-direction: row;
    flex: 1 0 45%;
    gap: 0.25em;

    & > * {
        width: 100%;
    }
}

.color-swatches {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
  margin: 0.5em 0;
  max-width: 100%;
}

.color-swatch {
  width: 2em;
  height: 2em;
  border: 2px solid #666;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-sizing: border-box;

  &:hover {
    border-color: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
  }

  &:active {
    transform: scale(0.95);
  }

  &.selected {
    border-color: #fff;
    border-width: 3px;
    box-shadow: 0 0 8px rgb(255 255 255 / 60%);
  }
}

.color-swatch-wrapper.custom-picker {
  position: relative;
  display: inline-block;
  aspect-ratio: 1;
  height: calc(2em - 4px);
}

.color-swatch.custom-picker-input {
  width: 100%;
  height: 100%;
  border: 2px solid #666;
  border-radius: 4px;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;

  &:hover {
    border-color: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
  }

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: none;
    border-radius: 2px;
  }

  &::-moz-color-swatch {
    border: none;
    border-radius: 2px;
  }
}

.custom-picker-label {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  -webkit-text-stroke: 2px #000;
  paint-order: stroke fill;
  pointer-events: none;
  user-select: none;
}

@media (pointer: fine) {
  #head-feature-select,
  #jewelry-select {
    height: 8em;
  }
}

/* Vertical mode for Mobile/Small/Narrow */
@media screen and (width <= 899px) {
    body {
        --header-size: calc(var(--svg-size) + 5em);
        --footer-size: 6em;
        overflow: hidden;

        display: grid;
        position: absolute;
        inset: 0;
        margin: 0;
        grid-template-rows: var(--header-size) 1fr var(--footer-size);

        & main {
            position: absolute;
            inset: 0;
            bottom: unset;
            z-index: 1;
        }

        & aside {
            z-index: 0;
            position: absolute;
            inset: 0;
            padding: var(--header-size) 1em var(--footer-size);
            overflow-y: auto;
        }

        & footer {
            position: absolute;
            inset: 0;
            margin: 0;
            top: unset;
            z-index: 1;
            border-top: 2px inset #aaa;
            flex-direction: column;

            & > * {
                width: 100%;
                text-align: center;
                margin: 0 auto;
            }
        }
    }
}

@media (width >= 641px) {
  aside {
    padding: 0 1em;
    gap: unset;
  }
}

@media (width >= 640px) and (width < 1100px) {
  :root {
    --svg-size: 256px;
    --mirror-offset: 9px;
  }
}

@media (width >= 1100px) and (width <= 1440px) {
  :root {
    --svg-size: 448px;
    --mirror-offset: 10px;
  }
}

@media (width >= 1441px) {
  :root {
    --svg-size: 640px;
    --mirror-offset: 15px;
  }
}

body.saving {
  --svg-size: 512px !important;
  --mirror-offset: 12px;
}

@media (prefers-reduced-motion: reduce) {
  body:not(.saving) character.updating {
    animation: none;
  }
}

/* Horizontal mode for Desktop/Large/Wide */
@media (width >= 900px) {
  body {
    display: grid;
    grid-template-columns: calc(var(--svg-size) + 4em) 1fr;
    grid-template-rows: auto auto 1fr;

    header {
      grid-row: 1;
      grid-column: 1 / 3;
    }

    main {
      grid-row: 2;
      grid-column: 1;
      margin: auto 0;
      height: auto;
      height: fill-available;
      height: -webkit-fill-available;
    }

    aside {
      grid-row: 2;
      grid-column: 2;
    }

    footer {
      grid-row: 3;
      grid-column: 1 / 3;
      padding-top: 1em;
    }
  }
}

@media (prefers-color-scheme: dark) {
  body, select, footer {
    background-color: #111;
    color: #ddd;
  }

  input,
  select:not([multiple]),
  select[multiple] option, button {
    background-color: #222;
    color: #ccc;

    &:hover {
      background-color: darkslateblue;
    }
  }

}

.index-list button,
.index-list select {
    display: inline-block;
}

.index-list select {
    display: inline-block;
    max-width: calc(100% - 6em);
}

.index-list button {
    max-width: 6em;
    padding: 0 1.25em;
    height: 2rem;
    font-weight: bold;
    border-radius: 4px;
    vertical-align: middle;
}

label.check-label {
    user-select: none;
    display: block;
    padding: 0.5em 0.25em 0.5em 0;
    margin: 0.5em 0;
    border: 1px outset rgb(221 221 221 / 47.5%);
    border-radius: 4px;
    width: fit-content;
    min-width: 50%;
}

label.toggle-button {
    vertical-align: top;
    position: relative;

    &, & > * {
        user-select: none;
    }

    input {
        /* display: none; */
        position: absolute;
        z-index: -1;
        inset: 1em;
    }

    & span {
        background-color: #111;
        padding: 0.25em 0.75em;
        border: 2px outset #ddd;
        border-radius: 4px;

        &:hover {
            border-color: cadetblue;
        }
    }

    & :focus + span {
        border-color: cadetblue;
    }

    & :checked + span {
        background-color: royalblue;
        border-color: black;

        &:hover {
            border-color: mediumslateblue;
        }
    }
}

/* Import/Export Dialog Styles */
dialog.export-dialog,
dialog.import-dialog {
    padding: 1.5em;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 30%);
    background-color: #f5f5f5;
    color: #111;
    font-family: Roddenberry, sans-serif;

    &::backdrop {
        background-color: rgb(0 0 0 / 50%);
    }

    & h2 {
        margin-top: 0;
        color: #333;
    }

    & p {
        margin: 0.5em 0;
    }

    & textarea {
        width: 100%;
        max-width: 50em;
        font-family: monospace;
        font-size: 0.9em;
        padding: 0.5em;
        border: 1px solid #999;
        border-radius: 4px;
        resize: vertical;
    }

    & .dialog-buttons {
        margin-top: 1em;
        display: flex;
        gap: 0.5em;
        justify-content: flex-end;

        & button {
            padding: 0.5em 1em;
            border: 1px solid #666;
            border-radius: 4px;
            background-color: #e0e0e0;
            color: #333;
            cursor: pointer;
            font-family: Roddenberry, sans-serif;

            &:hover {
                background-color: #d0d0d0;
            }

            &#copy-btn,
            &#import-btn,
            &#confirm-action-btn {
                background-color: #4a90e2;
                color: white;
                border-color: #357abd;

                &:hover {
                    background-color: #357abd;
                }
            }
        }
    }
}

/* Screen reader only class for accessibility */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}